<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Biogasboot</title>
</head>
<body>

<nav>
  <ul>
    <% if (!locals.user) { %>
      <li><a href="/auth/login">Inloggen</a></li>
      <li><a href="/auth/register">Registreren</a></li>
    <% } %>

    <% if (locals.user) { %>
      <li>Ingelogd als <%= user.name %></li>
      <li><a href="/auth/logout">Uitloggen</a></li>
    <% } %>
  </ul>
</nav>
