<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Biogasboot</title>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (!locals.user) { %>
      <li class="user"><a href="/auth/login">Inloggen</a></li>
      <li><a href="/auth/register">Registreren</a></li>
    <% } %>

    <% if (locals.user) { %>
      <li class="user"><a href=""><%= user.name %></a></li>
      <li><a href="/auth/logout">Uitloggen</a></li>
    <% } %>
  </ul>
</nav>
