<%- include ../partials/no_nav_head.ejs %>

<body class="interactive-dashboard">
  <header>
    <h1>De Biogasboot</h1>
  </header>
  <main>
    <section class="interactive">
      <img src="/images/dashboard/interactive/test.png" alt="" usemap="#Map" />
      <map name="Map" id="Map">
          <area alt="" title="" href="#" id="nogeentest" shape="poly" coords="634,171,627,160,633,154,641,150,659,146,676,141,697,140,712,139,725,138,740,138,767,139,785,142,798,144,812,145,823,151,834,158,837,161,842,169,841,187,841,214,841,234,839,252,837,267,833,280,834,290,834,313,832,328,827,344,827,355,821,366,815,377,803,380,787,385,776,390,742,391,727,392,703,391,685,389,668,385,654,377,640,355,634,290,634,225,629,193,625,173,625,171,633,169" />
          <area alt="" title="" href="#" shape="poly" coords="397,338,473,298,577,318,577,466,509,498,398,484,397,340" />
          <area alt="" title="" href="#" shape="poly" coords="476,300,576,326,571,465,503,498,396,477,397,334,474,301" />
          <area alt="" title="" href="#" shape="poly" coords="296,348,379,381,386,527,234,549,218,385,220,362,294,347" />
      </map>
    </section>
  </main>

  <script src="/js/image-mapping.js"></script>

	<script type="text/javascript">
		ImageMapSetup.init();
	</script>

  <%- include ../partials/foot.ejs %>

</body>
