<%- include ../partials/no_nav_head.ejs %>

<body class="interactive-dashboard">
  <header>
    <h1>De Biogasboot</h1>
  </header>
  <main>
    <section class="interactive">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1006.75 297">
        <defs>
            <linearGradient id="linear-gradient" x1="22" y1="275.23" x2="659" y2="275.23" gradientTransform="matrix(1, 0, 0, -1, 0, 305.73)" gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#999" />
                <stop offset="0.23" stop-color="#989898" stop-opacity="0.98" />
                <stop offset="0.44" stop-color="#949494" stop-opacity="0.92" />
                <stop offset="0.66" stop-color="#8f8f8f" stop-opacity="0.81" />
                <stop offset="0.87" stop-color="#868686" stop-opacity="0.67" />
                <stop offset="1" stop-color="gray" stop-opacity="0.55" />
            </linearGradient>
            <linearGradient id="linear-gradient-2" x1="601" y1="170.73" x2="668.5" y2="170.73" xlink:href="#linear-gradient" />
            <linearGradient id="linear-gradient-3" x1="83" y1="162.73" x2="22" y2="162.73" xlink:href="#linear-gradient" />
            <linearGradient id="linear-gradient-4" x1="970.45" y1="167.45" x2="1002.88" y2="167.45" gradientTransform="matrix(1, 0.01, 0.01, -1, -4.75, 288.12)" xlink:href="#linear-gradient" />
            <linearGradient id="linear-gradient-5" x1="721.75" y1="159.47" x2="692.48" y2="159.47" gradientTransform="matrix(1, 0.01, 0.01, -1, -4.75, 288.12)" xlink:href="#linear-gradient" />
            <linearGradient id="linear-gradient-6" x1="692.48" y1="271.95" x2="998.32" y2="271.95" gradientTransform="matrix(1, 0.01, 0.01, -1, -4.75, 288.12)" xlink:href="#linear-gradient" />
        </defs>
        <title>Biogasboot Interactive</title>
        <g id="MAIN">
            <g id="BIG_CONTAINER" data-name="BIG CONTAINER">
                <rect x="95" y="273" width="32" height="17" style="fill:#1e4729" />
                <rect x="157" y="273" width="32" height="17" style="fill:#1e4729" />
                <rect x="254" y="273" width="32" height="17" style="fill:#1e4729" />
                <rect x="315" y="273" width="32" height="17" style="fill:#1e4729" />
                <rect x="354" y="273" width="32" height="17" style="fill:#1e4729" />
                <rect x="413" y="271" width="32" height="17" style="fill:#1e4729" />
                <rect x="512" y="270" width="32" height="17" style="fill:#001d4c" />
                <rect x="571" y="268" width="32" height="17" style="fill:#001d4c" />
                <rect x="79" y="31" width="520" height="208" style="fill:#dbdbdb" />
                <polygon points="103 42.34 108.67 42.67 109 240 104 240 103 42.34" style="fill:#bcbcbc" />
                <path d="M16.53,290.74l-.53-12,29,5h57v13H17.06S17.58,290.74,16.53,290.74Z" transform="translate(0 -7.73)" style="fill:#1e4729" />
                <polygon points="659 17 659 7 654 7 659 4 679 4 678 277 675 277 675 17 659 17" style="fill:#275936" />
                <path d="M581.69,280.74s5.41,5.67,14.31.33l-.39-7.33-15.08.63-3.87,6.37Z" transform="translate(0 -7.73)" style="fill:#4b7d58" />
                <polygon points="22 21 19 21 19 12 659 9 659 18 657 18 657 11 22 14 22 21" style="fill:#1e4729" />
                <path d="M45,5.74" transform="translate(0 -7.73)" style="fill:#0f274b" />
                <polygon points="19 21 8 21 8 27.67 5 28 5 18 19.17 18 19 21" style="fill:#1e4729" />
                <polygon points="593.75 259 670 259 669.25 283.6 593 285 593.75 259" style="fill:#1e4729" />
                <polygon points="19 12 19 10 659 7 659 9 19 12" style="fill:#4b7d58" />
                <polygon points="658 288 658 290 678 290 678 277 664 277 663.83 275.34 657.67 275.34 658 288" style="fill:#275936" />
                <polygon points="19 18 19 6 0 6 0 28 5 28 5 18 19 18" style="fill:#275936" />
                <rect x="8" y="10" width="5" height="6" style="fill:#141414" />
                <rect x="667" y="8" width="5" height="6" style="fill:#141414" />
                <rect x="666" y="281" width="5" height="6" style="fill:#141414" />
                <polygon points="0 28 8.57 28 12 284 3.43 284 0 28" style="fill:#285b36" />
                <polygon points="5 27 7 283 10 283 8 27 5 27" style="fill:#1e4729" />
                <polygon points="19 6 25 9.75 19 10 19 6" style="fill:#275936" />
                <polygon points="2 284 10 284 11 284 10.92 282.92 21 283 21 297 2 297 2 284" style="fill:#275936" />
                <path d="M421.69,281.74s5.41,5.67,14.31.33l-.39-7.33-15.08.63-3.87,6.37Z" transform="translate(0 -7.73)" style="fill:#4b7d58" />
                <polygon points="373.49 267 423 267 422.51 285.92 373 287 373.49 267" style="fill:#1e4729" />
                <polygon points="78.11 268 291 268 288.89 286.92 76 288 78.11 268" style="fill:#1e4729" />
                <polygon points="436.09 266 546 266 544.91 284.92 435 286 436.09 266" style="fill:#1e4729" />
                <polygon points="275.47 268 323 268 322.53 286.92 275 288 275.47 268" style="fill:#1e4729" />
                <polygon points="532.72 265 605 265 604.28 283.92 532 285 532.72 265" style="fill:#1e4729" />
                <polygon points="318.21 268 642 268 638.79 286.92 315 288 318.21 268" style="fill:#1e4729" />
                <polygon points="9 288 9 294 15 294 15 287 9 287 9 288" style="fill:#141414" />
                <polygon points="18 271 24 266.93 22 22.51 17.5 22 18 271" style="fill:#1e4729" />
                <polygon points="114.5 269 165 269 164.5 287.92 114 289 114.5 269" style="fill:#1e4729" />
                <polygon points="19 21 659 18 658.88 16.5 675 16.5 675 20 19.13 23.13 19 21" style="fill:#1e4729" />
                <polygon points="21 288 658 282 658 287 21 296 21 288" style="fill:#4b7d58" />
                <polygon points="128.33 41.34 133.71 41 134 240 127.91 240 128.33 41.34" style="fill:#bcbcbc" />
                <polygon points="152.33 41.34 157.71 41 158 240 151.91 240 152.33 41.34" style="fill:#bcbcbc" />
                <polygon points="179.33 41.34 184.71 41 185 240 178.91 240 179.33 41.34" style="fill:#bcbcbc" />
                <polygon points="203.33 41.34 208.71 41 209 240 202.91 240 203.33 41.34" style="fill:#bcbcbc" />
                <polygon points="228.33 41.34 233.71 41 234 240 227.91 240 228.33 41.34" style="fill:#bcbcbc" />
                <polygon points="253.33 41.34 258.71 41 259 240 252.91 240 253.33 41.34" style="fill:#bcbcbc" />
                <polygon points="278.33 41.34 283.71 41 284 240 277.91 240 278.33 41.34" style="fill:#bcbcbc" />
                <polygon points="303.33 41.34 308.71 41 309 240 302.91 240 303.33 41.34" style="fill:#bcbcbc" />
                <polygon points="329.33 41.34 334.71 41 335 240 328.91 240 329.33 41.34" style="fill:#bcbcbc" />
                <polygon points="356.33 41.34 361.71 41 362 240 355.91 240 356.33 41.34" style="fill:#bcbcbc" />
                <polygon points="383.33 41.34 388.71 41 389 240 382.91 240 383.33 41.34" style="fill:#bcbcbc" />
                <polygon points="413.33 41.34 418.71 41 419 240 412.91 240 413.33 41.34" style="fill:#bcbcbc" />
                <polygon points="441.33 40.34 446.71 40 447 239 440.91 239 441.33 40.34" style="fill:#bcbcbc" />
                <polygon points="469.33 39.34 474.71 39 475 238 468.91 238 469.33 39.34" style="fill:#bcbcbc" />
                <polygon points="496.33 39.34 501.71 39 502 238 495.91 238 496.33 39.34" style="fill:#bcbcbc" />
                <polygon points="522.33 39.34 527.71 39 528 238 521.91 238 522.33 39.34" style="fill:#bcbcbc" />
                <polygon points="548.33 39.34 553.71 39 554 238 547.91 238 548.33 39.34" style="fill:#bcbcbc" />
                <polygon points="573.33 39.34 578.71 39 579 238 572.91 238 573.33 39.34" style="fill:#bcbcbc" />
                <polygon points="12 269.63 102 269.63 102 284 43.11 284 12 269.63" style="fill:#1e4729" />
                <polygon points="23 268 75.13 237 606.69 237 667 260.56 23 268" style="fill:#ac8c77" />
                <polygon points="22 21 76 43 601 40 659 18 22 21" style="fill:url(#linear-gradient)" />
                <polygon points="22 14 22 21 657 18 657 11 22 14" style="fill:#4b7d58" />
                <polygon points="14 271 23.57 265 658.43 259.5 667 262 646.85 266 14 271" style="fill:#4b7d58" />
                <polygon points="24 267 18 271 19.5 264.5 24 263 24 267" style="fill:#0f274b" />
                <polygon points="601 39 598.67 39.67 599 230 664 254.67 667 253 663 250 601 39" style="fill:#b2b2b2" />
                <polygon points="601 39.34 660 17 668.5 17.49 667 253 601 229.69 601 39.34" style="fill:url(#linear-gradient-2)" />
                <polygon points="668 19 675 16 675 277 668 277 664 277 668 19" style="fill:#275936" />
                <polygon points="78.75 236.25 599 230 599 237 85 252 69 250 78.75 236.25" style="fill:#ac8c77" />
                <polygon points="10 283 20 283 19 198 19 21 8 21 10 283" style="fill:#285b36" />
                <polyline points="675 16 659 16 657 18 668 18 668 19" style="fill:#173154" />
                <polygon points="599 237 599 230 664 254.67 664.67 261.34 643 254 602 247 599 237" style="fill:#ac8c77" />
                <polygon points="22 21 79.79 43 83 236 81.75 237.34 78.72 237 28.6 265 23.68 265 22 21" style="fill:url(#linear-gradient-3)" />
            </g>
            <g id="SMALL_CONTAINER" data-name="SMALL CONTAINER">
                <rect x="722.17" y="276.14" width="17" height="15.36" transform="translate(437.95 1003.23) rotate(-89.3)" style="fill:#1e4729" />
                <rect x="751.93" y="276.49" width="17" height="15.36" transform="matrix(0.01, -1, 1, 0.01, 466.99, 1033.34)" style="fill:#1e4729" />
                <rect x="798.5" y="277.07" width="17" height="15.36" transform="matrix(0.01, -1, 1, 0.01, 512.41, 1080.48)" style="fill:#1e4729" />
                <rect x="827.78" y="277.43" width="17" height="15.36" transform="translate(540.98 1110.11) rotate(-89.3)" style="fill:#1e4729" />
                <rect x="846.51" y="277.65" width="17" height="15.36" transform="translate(559.25 1129.06) rotate(-89.3)" style="fill:#1e4729" />
                <rect x="874.86" y="275.99" width="17" height="15.36" transform="translate(588.92 1155.77) rotate(-89.3)" style="fill:#1e4729" />
                <rect x="922.4" y="275.58" width="17" height="15.36" transform="matrix(0.01, -1, 1, 0.01, 636.29, 1202.9)" style="fill:#001d4c" />
                <rect x="950.75" y="273.93" width="17" height="15.36" transform="matrix(0.01, -1, 1, 0.01, 665.94, 1229.61)" style="fill:#001d4c" />
                <rect x="737.92" y="13.83" width="208" height="249.66" transform="translate(692.99 971.09) rotate(-89.3)" style="fill:#dbdbdb" />
                <path d="M685.28,284.81l-.11-12L699,278l27.36.34-.16,13-40.78-.5S685.78,284.82,685.28,284.81Z" transform="translate(0 -7.73)" style="fill:#1e4729" />
                <polygon points="994.58 14.86 994.71 4.86 991.71 4.82 994.74 1.86 1006.75 2.01 1002.79 274.98 1000.99 274.96 1004.18 14.98 994.58 14.86" style="fill:#275936" />
                <path d="M956.72,278.15s2.53,5.7,6.86.42l-.1-7.34-7.25.54-1.93,6.35Z" transform="translate(0 -7.73)" style="fill:#4b7d58" />
                <polygon points="691.12 15.13 689.68 15.11 689.79 6.11 997.08 6.89 996.97 15.89 996.01 15.88 996.1 8.88 691.21 8.13 691.12 15.13" style="fill:#1e4729" />
                <path d="M702.45,0" transform="translate(0 -7.73)" style="fill:#0f274b" />
                <polygon points="689.68 15.11 684.4 15.05 684.32 21.71 682.88 22.03 683 12.03 689.8 12.11 689.68 15.11" style="fill:#1e4729" />
                <polygon points="962.69 256.49 999.29 256.94 998.63 281.52 962 282.48 962.69 256.49" style="fill:#1e4729" />
                <polygon points="689.79 6.11 689.82 4.11 997.11 4.89 997.08 6.89 689.79 6.11" style="fill:#4b7d58" />
                <polygon points="993.44 285.87 993.42 287.87 1004.75 288 1004.91 275 996.98 274.91 996.9 273.24 993.41 273.2 993.44 285.87" style="fill:#275936" />
                <rect x="682.65" y="13.59" width="6" height="2.4" transform="translate(662.48 692.48) rotate(-89.3)" style="fill:#141414" />
                <rect x="998.9" y="14.36" width="6" height="4.64" transform="translate(972.98 1010.57) rotate(-89.3)" style="fill:#141414" />
                <rect x="994.11" y="286.61" width="6" height="4.64" transform="matrix(0.01, -1, 1, 0.01, 698.23, 1275.37)" style="fill:#141414" />
                <rect x="995.19" y="288.43" width="6" height="2.4" transform="translate(696.39 1276.48) rotate(-89.3)" style="fill:#141414" />
                <polygon points="680.48 22 684.59 22.05 683.09 278.05 678.97 278 680.48 22" style="fill:#285b36" />
                <polygon points="682.89 21.03 680.7 277.02 682.14 277.04 684.33 21.05 682.89 21.03" style="fill:#1e4729" />
                <polygon points="689.87 0.11 692.7 3.9 689.82 4.11 689.87 0.11" style="fill:#275936" />
                <path d="M879.9,278.2s2.53,5.7,6.86.42l-.1-7.34-7.25.54-1.93,6.35Z" transform="translate(0 -7.73)" style="fill:#4b7d58" />
                <polygon points="856.84 263.19 880.61 263.48 880.14 282.39 856.36 283.18 856.84 263.19" style="fill:#1e4729" />
                <polygon points="762.43 263.02 804.27 263.54 803.62 282.45 761.77 283.02 762.43 263.02" style="fill:#1e4729" />
                <polygon points="886.91 262.55 939.67 263.2 938.92 282.11 886.14 282.55 886.91 262.55" style="fill:#1e4729" />
                <polygon points="809.77 263.61 832.59 263.89 832.13 282.8 809.3 283.6 809.77 263.61" style="fill:#1e4729" />
                <polygon points="933.31 262.12 968.01 262.55 967.43 281.46 932.72 282.12 933.31 262.12" style="fill:#1e4729" />
                <polygon points="830.29 263.86 985.74 265.77 983.97 284.67 828.5 283.84 830.29 263.86" style="fill:#1e4729" />
                <polygon points="681.6 282.03 681.53 288.03 684.41 288.07 684.49 281.07 681.61 281.03 681.6 282.03" style="fill:#141414" />
                <polygon points="686.13 265.09 689.06 261.05 691.1 16.64 688.95 16.1 686.13 265.09" style="fill:#1e4729" />
                <polygon points="712.59 263.41 821.5 264.75 820.19 283.65 711.26 283.4 712.59 263.41" style="fill:#1e4729" />
                <polygon points="689.68 15.11 996.97 15.89 996.93 14.39 1004.67 14.48 1004.63 17.98 689.72 17.24 689.68 15.11" style="fill:#1e4729" />
                <polygon points="687.36 282.1 994.33 279.88 994.27 284.88 687.26 290.1 687.36 282.1" style="fill:#4b7d58" />
                <polygon points="693.72 12.16 693.87 0.16 680.75 0 680.48 22 683.93 22.04 684.05 12.04 693.72 12.16" style="fill:#275936" />
                <polygon points="677.34 276.98 682.43 277.04 683.06 277.05 683.02 275.97 689.43 276.13 689.26 290.13 677.18 289.98 677.34 276.98" style="fill:#275936" />
                <polygon points="683.27 263.68 726.47 264.21 726.3 278.58 698.02 278.23 683.27 263.68" style="fill:#1e4729" />
                <polygon points="688.57 262.12 713.98 231.43 969.17 234.56 997.83 258.48 688.57 262.12" style="fill:#ac8c77" />
                <polygon points="691.21 8.13 691.12 15.13 996.01 15.88 996.1 8.88 691.21 8.13" style="fill:#4b7d58" />
                <polygon points="684.21 265.06 688.88 259.12 993.73 257.37 997.81 259.92 988.09 263.8 684.21 265.06" style="fill:#4b7d58" />
                <polygon points="689.06 261.12 686.13 265.09 686.93 258.6 689.11 257.12 689.06 261.12" style="fill:#0f274b" />
                <polygon points="968.87 36.54 967.74 37.2 965.56 227.52 996.46 252.57 997.92 250.92 996.04 247.89 968.87 36.54" style="fill:#b2b2b2" />
                <polygon points="968.87 36.88 997.46 14.89 1001.54 15.43 997.92 250.92 966.52 227.22 968.87 36.88" style="fill:url(#linear-gradient-4)" />
                <polygon points="1001.28 16.94 1004.68 13.98 1001.47 274.96 998.11 274.92 996.19 274.9 1001.28 16.94" style="fill:#275936" />
                <polygon points="682.14 277.04 686.94 277.1 687.51 192.1 689.68 15.11 684.4 15.05 682.14 277.04" style="fill:#285b36" />
                <polyline points="1004.68 13.98 997 13.89 996.01 15.88 1001.29 15.94 1001.28 16.94" style="fill:#173154" />
                <polygon points="965.48 234.52 965.56 227.52 996.46 252.57 996.7 259.24 986.39 251.78 966.79 244.53 965.48 234.52" style="fill:#ac8c77" />
                <polygon points="691.12 15.13 718.6 37.47 717.76 230.47 717.15 231.8 715.7 231.45 691.29 259.15 688.93 259.12 691.12 15.13" style="fill:url(#linear-gradient-5)" />
                <polygon points="789.62 37.67 795 37.41 792.91 231.4 786.82 231.32 789.62 37.67" style="fill:#bcbcbc" />
                <polygon points="765.63 37.37 771.01 37.11 768.91 231.1 762.83 231.03 765.63 37.37" style="fill:#bcbcbc" />
                <polygon points="740.28 38.03 745.95 38.43 743.91 230.79 738.91 230.73 740.28 38.03" style="fill:#bcbcbc" />
                <polygon points="864.63 37.59 870.01 37.33 867.92 231.32 861.83 231.24 864.63 37.59" style="fill:#bcbcbc" />
                <polygon points="840.63 37.29 846.01 37.03 843.92 231.02 837.83 230.95 840.63 37.29" style="fill:#bcbcbc" />
                <polygon points="815.29 37.96 820.95 38.35 818.92 230.72 813.92 230.65 815.29 37.96" style="fill:#bcbcbc" />
                <polygon points="937.64 37.49 943.02 37.23 940.92 231.22 934.84 231.14 937.64 37.49" style="fill:#bcbcbc" />
                <polygon points="913.64 37.19 919.02 36.93 916.92 230.92 910.84 230.85 913.64 37.19" style="fill:#bcbcbc" />
                <polygon points="888.3 37.85 893.96 38.25 891.93 230.61 886.93 230.55 888.3 37.85" style="fill:#bcbcbc" />
                <polygon points="715.72 230.7 965.56 227.52 965.48 234.52 718.53 246.48 710.87 244.39 715.72 230.7" style="fill:#ac8c77" />
                <polygon points="691.12 15.13 716.78 37.45 968.86 37.54 996.97 15.89 691.12 15.13" style="fill:url(#linear-gradient-6)" />
                <rect x="679.77" y="288.77" width="6" height="4.64" transform="translate(383.36 962.52) rotate(-89.3)" style="fill:#141414" />
                <rect x="681.65" y="12.72" width="6" height="4.64" transform="matrix(0.01, -1, 1, 0.01, 662.77, 691.78)" style="fill:#141414" />
            </g>
            <polyline id="PIPE" points="162.61 175 163.33 252.67 150 250.5 150 98.75 486 98.75 486 178.33 513.33 178.33" style="fill:none;stroke:#353535;stroke-miterlimit:10;stroke-width:2px" />
            <g class="move_up" id="TANK2">
                <path d="M221.54,222.55l-.09-3.47-.63-23.32-.57-21.11-.48-18s.31-2.85,2.23-3.84l48.19,15.41.34,70L265,236.51v13.25l-32.11-9.54s-5.09-1.44-3.88-14.4Z" transform="translate(0 -7.73)" style="fill:#b3b7ba" />
                <path d="M270.19,168.26a48.19,48.19,0,0,0,10.48-.28c5.81-.79,63.45-9.28,63.45-9.28l.55,20.48L346,229.91l-9.29,1.2.28,10.4s-.27,4.42-5.69,5.2l-7.76.21s5-2.66,2.53-7-9-3.86-9-3.86-7.39-.43-10.74,5l.25,9.14-14,1.32a4.34,4.34,0,0,0,1.86-3.2l-.31-11.66-8.89,1.5s-8.1,2.11-14.76.08Z" transform="translate(0 -7.73)" style="fill:#fafbfe" />
                <path d="M344.12,158.69l3.48-.41s4.24-1.06,3.48,13.78l1.51,56.09A9.78,9.78,0,0,1,346,229.9Z" transform="translate(0 -7.73)" style="fill:#c1c1c5" />
                <path d="M223.14,151.53l45.27,14.19a62.72,62.72,0,0,0,19-.51c11.07-1.87,58.15-8.8,58.15-8.8L297.13,141a19.63,19.63,0,0,0-6.75.18c-4,.74-68.06,9.7-68.06,9.7Z" transform="translate(0 -7.73)" style="fill:#898a8b" />
                <path d="M220.16,171.26s-2.28,2,.07,2.68,49.55,15.3,49.55,15.3,3.91.84,12,0,67.71-9.71,67.71-9.71,4.24-1.38,2.26-2.58" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M220.74,192.69s-2.28,2,.07,2.68,49.55,15.3,49.55,15.3,3.91.84,12,0S350.07,201,350.07,201s4.24-1.38,2.26-2.58" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M221.34,215.06s-2.28,2,.07,2.68S271,233,271,233s3.91.84,12,0,67.71-9.71,67.71-9.71,4.24-1.38,2.26-2.58" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="237.6" y1="149.68" x2="239.84" y2="237.82" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="250.12" y1="153.12" x2="252.36" y2="241.26" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="261.87" y1="156.59" x2="264.11" y2="244.73" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M265,249.29l7.46,3.07a18.92,18.92,0,0,0,9,.74c5-.79,10-1.9,10-1.9s3.51.45,3-5.85l-.26-9.58L281.64,238s-11.48,1.36-17-2.41Z" transform="translate(0 -7.73)" style="fill:#4f4f4f" />
                <line x1="302.93" y1="156.92" x2="305.29" y2="245.19" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="324.6" y1="153.81" x2="326.96" y2="242.09" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M336.74,230.69s17.44-1.44,16.23-3-.48,11-.48,11,.43,1.61-2.6,4.28a28.15,28.15,0,0,1-3.47,1.07c-2.7.72-13.84,2.4-13.84,2.4s5.19-1.2,4.49-8S336.74,230.69,336.74,230.69Z" transform="translate(0 -7.73)" style="fill:#4f4f4f" />
                <path d="M333.73,248.85l.87,3.45,8.62,2.61s12.4-1,12-2.53-.22-8.19-.22-8.19Z" transform="translate(0 -7.73)" style="fill:#3f5494" />
                <path d="M265,254.17l-.2,2.55,1.93,1.34.15,5.57,6.49,2.27s13.26.69,17.37-1.17l.6-5.94,2.24-1.11-.08-3.14-7.16.89S268.35,256.07,265,254.17Z" transform="translate(0 -7.73)" style="fill:#3f5494" />
                <polyline points="345.47 149.98 347.86 239.23 285.2 248.52 284.8 248.58 284.81 248.9" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M349.68,242.27s11.31,1.59-1.82,4.46" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M224,148.53l1.16-.16,66.95-9.25s9.3-.88,13.64,1.52l42.71,13.67s4.67.5.07,2.52-66.15,10-66.15,10-13.93,2-19.47-1.68L219.43,151.5s-.84-2.18,1.87-2.57Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <polyline points="224.82 142.99 224.76 140.86 224.86 143.3" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M245.82,145.52l.13,2.58Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M266.72,142.75l.13,2.58Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M287.22,139.67l.13,2.58Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="308.11" y1="133.8" x2="308.22" y2="137.89" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="320.26" y1="137.73" x2="320.37" y2="141.82" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="332.01" y1="141.19" x2="332.12" y2="145.29" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <polygon points="220.81 230.92 221.08 240.69 225.38 241.83 225.25 237.1 226.81 237.06 226.7 233.28 220.81 230.92" style="fill:#3a4d87" />
                <polygon points="232.16 234.08 238.36 233.28 242.2 234.31 241.93 236.34 238.43 236.12 238.54 240.22 225.38 241.83 225.25 237.1 226.79 236.63 226.7 233.28 232.16 234.08" style="fill:#364984" />
                <polygon points="238.87 238 238.55 240.53 240.53 241.74 240.68 247.41 250.47 250.3 250.33 245.26 251.5 245.23 251.43 242.71 251.41 242.08 238.87 238" style="fill:#364984" />
                <polygon points="251.41 242.08 251.5 245.23 258.09 244.73 251.41 242.08" style="fill:#3a4d87" />
                <polygon points="228.66 233.86 234.99 233.16 229.59 231.31 225.44 229.85 222.62 230.63 223.57 232.42 228.66 233.86" style="fill:#1f263f" />
                <polyline points="250.33 245.26 258.09 244.73 257.82 249.16 250.47 250.3" style="fill:#3a4d87" />
                <path d="M282.43,167.73,284.79,256l-.64.12a39.22,39.22,0,0,1-20-2.09s-36.45-11.95-40.77-13.72,2.06-2.74,2.06-2.74l1.39-.2,1.89-.37" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M221.65,222.55l8.49,3.46s-.33,13.7,2.69,14.15-9.87-1.88-11.77-6.86Z" transform="translate(0 -7.73)" style="fill:#4f4f4f" />
                <line x1="225.47" y1="146.22" x2="227.7" y2="234.36" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M306.37,242.57s-1.51-5.13,8.45-7,11.27,3.74,11.27,3.74l.12,4.43-2.65,2.58s-4.31-1.46-4.34-2.41,5.79-1.42,5.79-1.42l.34-1.9-7.75.84S313.15,234.74,306.37,242.57Z" transform="translate(0 -7.73)" style="fill:#abadad;opacity:1;isolation:isolate" />
                <path d="M306.38,243s2.6-4,6.29-4.2a5,5,0,0,1,4.93,2.64s-3.08,1-3.06,1.66-1.16,0-1.16,0a3.13,3.13,0,0,0-3.84,1.68s.46,2.51,2.38,1.83l.8.92-6.2.48Z" transform="translate(0 -7.73)" style="fill:#faf9fc" />
                <path d="M314.54,243.06s2.29-1.64,3.06-1.66,7.75-.84,7.75-.84l-.34,1.9s-6.59.49-5.79,1.42S315,244,315,244Z" transform="translate(0 -7.73)" style="fill:#014988" />
                <path d="M312.28,245.64a.91.91,0,0,0,0-1.58,1.31,1.31,0,0,0-1.54.36.84.84,0,0,0,.24,1.16l.18.09A1.31,1.31,0,0,0,312.28,245.64Z" transform="translate(0 -7.73)" style="fill:#cbced1" />
                <path d="M313.79,244" transform="translate(0 -7.73)" style="fill:none;stroke:#95918e;stroke-miterlimit:10;stroke-width:2px" />
                <path d="M313.38,243.09a3.14,3.14,0,0,0-2.86.4c-1.76,1-.25,2.76-.25,2.76a1.91,1.91,0,0,0,1.66.34l.8.92s4.73,2.4,6.66,2c0,0-1.33-3,2.38-4l-2.53-1.71s.5.51-.52.43L315,244l-.24-.55Z" transform="translate(0 -7.73)" style="fill:#95918e;opacity:0.699999988079071;isolation:isolate" />
                <ellipse cx="321.51" cy="248.36" rx="2.52" ry="2.05" transform="translate(-6.6 1.06) rotate(-1.55)" style="fill:#fc5a53" />
            </g>
            <g class="move_up" id="FILTER">
                <path d="M404.65,160.35s1.18,9.48,26.7,9.62,27.33-8.81,27.33-8.81l-5.6,80.73s-1.23,14.78-24,14.44c0,0-13.94.28-19-12.66Z" transform="translate(0 -7.73)" style="fill:#2d2d2d" />
                <path d="M458.69,159.94c.07-6.51-11.94-12-26.84-12.2s-27,4.87-27.09,11.38,11.94,12,26.84,12.2S458.62,166.45,458.69,159.94Z" transform="translate(0 -7.73)" style="fill:#383838" />
                <path d="M446.86,168.81,440,255.3c12-3.6,12.81-13.09,12.81-13.09l5.6-80.73S457.43,166.3,446.86,168.81Z" transform="translate(0 -7.73)" style="fill:#686868;opacity:0.30000001192092896;isolation:isolate" />
                <polygon points="454.83 211.3 474.15 245.37 452.02 238.7 454.83 211.3" style="fill:#2d2d2d" />
                <polygon points="408.82 209.9 389.5 243.97 411.63 237.29 408.82 209.9" style="fill:#2d2d2d" />
            </g>
            <g id="TANK1" class="move_up">
                <path d="M62.7,223.65l-.09-3.47L62,196.86l-.57-21.11-.48-18s.31-2.85,2.23-3.84l48.19,15.41.34,70-5.49-1.74v13.25l-32.11-9.54s-5.09-1.44-3.88-14.4Z" transform="translate(0 -7.73)" style="fill:#b3b7ba" />
                <path d="M111.35,169.35a48.19,48.19,0,0,0,10.48-.28c5.81-.79,63.45-9.28,63.45-9.28l.55,20.48L187.2,231l-9.29,1.2.28,10.4s-.27,4.42-5.69,5.2l-7.76.21s5-2.66,2.53-7-9-3.86-9-3.86-7.39-.43-10.74,5l.25,9.14-13.95,1.32a4.34,4.34,0,0,0,1.86-3.2l-.31-11.66-8.89,1.5s-8.1,2.11-14.76.08Z" transform="translate(0 -7.73)" style="fill:#fafbfe" />
                <path d="M185.28,159.79l3.48-.41s4.24-1.06,3.48,13.78l1.51,56.09A9.78,9.78,0,0,1,187.2,231Z" transform="translate(0 -7.73)" style="fill:#c1c1c5" />
                <path d="M64.3,152.62l45.27,14.19a62.72,62.72,0,0,0,19.05-.51c11.07-1.87,58.15-8.8,58.15-8.8L138.3,142.13a19.63,19.63,0,0,0-6.75.18c-4,.74-68.06,9.7-68.06,9.7Z" transform="translate(0 -7.73)" style="fill:#898a8b" />
                <path d="M61.32,172.36s-2.28,2,.07,2.68,49.55,15.3,49.55,15.3,3.91.84,12,0,67.71-9.71,67.71-9.71,4.24-1.38,2.26-2.58" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M61.9,193.79s-2.28,2,.07,2.68,49.55,15.3,49.55,15.3,3.91.84,12,0S191.28,202,191.28,202s4.24-1.38,2.26-2.58" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M62.5,216.16s-2.28,2,.07,2.68,49.55,15.3,49.55,15.3,3.91.84,12,0,67.71-9.71,67.71-9.71,4.24-1.38,2.26-2.58" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="78.76" y1="150.77" x2="81" y2="238.91" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="91.28" y1="154.22" x2="93.52" y2="242.36" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="103.03" y1="157.69" x2="105.27" y2="245.83" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M106.15,250.39l7.46,3.07a18.92,18.92,0,0,0,9,.74c5-.79,10-1.9,10-1.9s3.51.45,2.95-5.85l-.26-9.58-12.51,2.23s-11.48,1.36-17-2.41Z" transform="translate(0 -7.73)" style="fill:#4f4f4f" />
                <line x1="144.09" y1="158.01" x2="146.45" y2="246.29" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="165.76" y1="154.91" x2="168.12" y2="243.18" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M177.9,231.79s17.44-1.44,16.23-3-.48,11-.48,11,.43,1.61-2.6,4.28a28.15,28.15,0,0,1-3.47,1.07c-2.7.72-13.84,2.4-13.84,2.4s5.19-1.2,4.49-8S177.9,231.79,177.9,231.79Z" transform="translate(0 -7.73)" style="fill:#4f4f4f" />
                <path d="M174.89,249.95l.87,3.45,8.62,2.61s12.4-1,12-2.53-.22-8.19-.22-8.19Z" transform="translate(0 -7.73)" style="fill:#3f5494" />
                <path d="M106.17,255.27l-.2,2.55,1.93,1.34.15,5.57,6.49,2.27s13.26.69,17.37-1.17l.6-5.94,2.24-1.11-.08-3.14-7.16.89S109.51,257.17,106.17,255.27Z" transform="translate(0 -7.73)" style="fill:#3f5494" />
                <polyline points="186.63 151.07 189.02 240.32 126.36 249.62 125.96 249.68 125.97 250" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M162.59,247.44l26.42.39c13.13-2.88,1.82-4.46,1.82-4.46" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M65.17,149.63l1.16-.16,66.95-9.25s9.3-.88,13.64,1.52l42.71,13.67s4.67.5.07,2.52-66.15,10-66.15,10-13.93,2-19.47-1.68L60.59,152.59s-.84-2.18,1.87-2.57Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <polyline points="65.98 144.08 65.92 141.95 66.02 144.39" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M87,146.62l.13,2.58Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M107.88,143.84l.13,2.58Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M128.39,140.77l.13,2.58Z" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="149.27" y1="134.89" x2="149.39" y2="138.99" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="161.42" y1="138.82" x2="161.53" y2="142.92" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <line x1="173.17" y1="142.29" x2="173.28" y2="146.39" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <polygon points="61.97 232.01 62.24 241.78 66.54 242.93 66.41 238.2 67.97 238.16 67.86 234.38 61.97 232.01" style="fill:#3a4d87" />
                <polygon points="73.32 235.18 79.52 234.38 83.36 235.41 83.09 237.44 79.59 237.22 79.7 241.31 66.54 242.93 66.41 238.2 67.95 237.73 67.86 234.38 73.32 235.18" style="fill:#364984" />
                <polygon points="80.03 239.1 79.71 241.63 81.69 242.84 81.84 248.51 91.63 251.4 91.49 246.35 92.66 246.32 92.59 243.8 92.57 243.17 80.03 239.1" style="fill:#364984" />
                <polygon points="92.57 243.17 92.66 246.32 99.25 245.83 92.57 243.17" style="fill:#3a4d87" />
                <polygon points="69.82 234.96 76.15 234.26 70.75 232.41 66.61 230.94 63.78 231.72 64.73 233.52 69.82 234.96" style="fill:#1f263f" />
                <polyline points="91.49 246.35 99.25 245.83 98.98 250.25 91.63 251.4" style="fill:#3a4d87" />
                <path d="M123.59,168.82,126,257.1l-.64.12a39.22,39.22,0,0,1-20-2.09s-36.45-11.95-40.77-13.72,2.06-2.74,2.06-2.74l1.39-.2,1.89-.37" transform="translate(0 -7.73)" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M62.81,223.64l8.49,3.46S71,240.8,74,241.25s-9.87-1.88-11.77-6.86Z" transform="translate(0 -7.73)" style="fill:#4f4f4f" />
                <line x1="66.63" y1="147.32" x2="68.86" y2="235.46" style="fill:none;stroke:#868b91;stroke-miterlimit:10;stroke-width:3px" />
                <path d="M147.53,243.67s-1.51-5.13,8.45-7,11.27,3.74,11.27,3.74l.12,4.43-2.65,2.58s-4.31-1.46-4.34-2.41,5.79-1.42,5.79-1.42l.34-1.9-7.75.84S154.31,235.84,147.53,243.67Z" transform="translate(0 -7.73)" style="fill:#abadad;opacity:1;isolation:isolate" />
                <path d="M147.54,244.06s2.6-4,6.29-4.2a5,5,0,0,1,4.93,2.64s-3.08,1-3.06,1.66-1.16,0-1.16,0a3.13,3.13,0,0,0-3.84,1.68s.46,2.51,2.38,1.83l.8.92-6.2.48Z" transform="translate(0 -7.73)" style="fill:#faf9fc" />
                <path d="M155.7,244.16s2.29-1.64,3.06-1.66,7.75-.84,7.75-.84l-.34,1.9s-6.59.49-5.79,1.42-4.27.12-4.27.12Z" transform="translate(0 -7.73)" style="fill:#014988" />
                <path d="M153.44,246.74a.91.91,0,0,0,0-1.58,1.31,1.31,0,0,0-1.54.36.84.84,0,0,0,.24,1.16l.18.09A1.31,1.31,0,0,0,153.44,246.74Z" transform="translate(0 -7.73)" style="fill:#cbced1" />
                <path d="M155,245.12" transform="translate(0 -7.73)" style="fill:none;stroke:#95918e;stroke-miterlimit:10;stroke-width:2px" />
                <path d="M154.54,244.19a3.14,3.14,0,0,0-2.86.4c-1.76,1-.25,2.76-.25,2.76a1.91,1.91,0,0,0,1.66.34l.8.92s4.73,2.4,6.66,2c0,0-1.33-3,2.38-4L160.39,245s.5.51-.52.43l-3.75-.32-.24-.55Z" transform="translate(0 -7.73)" style="fill:#95918e;opacity:0.699999988079071;isolation:isolate" />
                <ellipse cx="162.67" cy="249.47" rx="2.52" ry="2.05" transform="translate(-6.69 -3.24) rotate(-1.55)" style="fill:#fc5a53" />
            </g>
            <g class="move_up" id="POMP">
                <polygon points="247.84 93.52 255 93.59 255 105.85 247.77 105.51 247.84 93.52" style="fill:#4d5362" />
                <path d="M241.81,100.22s3.31-3.83,6,1l-.07,12s-4.19,3.61-6.25-.15Z" transform="translate(0 -7.73)" style="fill:#8e94a3" />
                <path d="M210.12,101.47s.64.15.64-.44h.59v10.6h-.59s.2-.39-.49-.49S210.12,101.47,210.12,101.47Z" transform="translate(0 -7.73)" style="fill:#5e626d" />
                <path d="M240.19,101.32l1.62.07s.81,6.33.07,10.67H239.3v-10.6Z" transform="translate(0 -7.73)" style="fill:#5d616c" />
                <polygon points="271.98 86.72 271.98 91.23 270.89 91.33 270.89 94.37 275.9 94.47 275.9 91.63 274.62 91.72 274.82 87.21 271.98 86.72" style="fill:#353f4c" />
                <path d="M214.92,101.22l20.55-.2a47.86,47.86,0,0,0,0,10.6H214.92Z" transform="translate(0 -7.73)" style="fill:#6d6e72" />
                <path d="M210.17,101H206a18.65,18.65,0,0,0,0,10.6h4.12Z" transform="translate(0 -7.73)" style="fill:#5b5f6a" />
                <path d="M210.75,101s0-1.18,1.18-.59V112.8a1.15,1.15,0,0,1-1.18-1.12s0,0,0-.06V101Z" transform="translate(0 -7.73)" style="fill:#4d515c" />
                <path d="M211.93,100.44h2.94a2.91,2.91,0,0,0,.59,1.77v7.65a3.44,3.44,0,0,0-.59,2.35v.59h-2.94Z" transform="translate(0 -7.73)" style="fill:#8990a1" />
                <path d="M235.48,101h4.71s1.18,5.89,0,10.6h-4.71S234.3,105.74,235.48,101Z" transform="translate(0 -7.73)" style="fill:#5b5f6a" />
                <path d="M260.94,113.37s-3.31,3.83-6-1l.07-12s4.19-3.61,6.25.15Z" transform="translate(0 -7.73)" style="fill:#8e94a3" />
                <path d="M292.63,112.12s-.64-.15-.64.44h-.59V102h.6s-.2.39.49.49S292.63,112.12,292.63,112.12Z" transform="translate(0 -7.73)" style="fill:#5e626d" />
                <path d="M262.56,112.27l-1.62-.07s-.81-6.33-.07-10.67h2.58v10.6Z" transform="translate(0 -7.73)" style="fill:#5d616c" />
                <path d="M287.82,112.36l-20.55.2a47.86,47.86,0,0,0,0-10.6h20.55Z" transform="translate(0 -7.73)" style="fill:#6d6e72" />
                <path d="M292.58,112.56h4.12a18.65,18.65,0,0,0,0-10.6h-4.12Z" transform="translate(0 -7.73)" style="fill:#5b5f6a" />
                <path d="M292,112.56s0,1.18-1.18.59V100.79a1.15,1.15,0,0,1,1.18,1.12s0,.06,0,.09v10.56Z" transform="translate(0 -7.73)" style="fill:#4d515c" />
                <path d="M290.81,113.15h-2.94a2.91,2.91,0,0,0-.59-1.77v-7.65a3.44,3.44,0,0,0,.59-2.35v-.59h2.94Z" transform="translate(0 -7.73)" style="fill:#8990a1" />
                <path d="M267.27,112.56h-4.71s-1.18-5.89,0-10.6h4.71S268.44,107.85,267.27,112.56Z" transform="translate(0 -7.73)" style="fill:#5b5f6a" />
                <polygon points="223.56 93.44 223.71 90.94 227.83 90.94 227.83 93.37 223.56 93.44" style="fill:#40474f" />
                <polygon points="224.29 86.82 224.29 91.09 227.09 91.09 227.09 86.23 224.29 86.23 224.29 86.82" style="fill:#111" />
                <path d="M223.71,94h4.12V92.2s0-.59,1.18-.59h3.53V86.9h-5.89s-2.94,1.18-2.94,4.12Z" transform="translate(0 -7.73)" style="fill:#40474f" />
                <polygon points="260.35 78.53 260.35 84.91 264.22 85.05 264.22 83.19 264.08 78.09 260.3 78.09 260.35 78.53" style="fill:#444b51" />
                <path d="M233.12,92.79s.59-4.71,0-6.48h-.59v6.48Z" transform="translate(0 -7.73)" style="fill:#5b626a" />
                <path d="M233.12,86.31a3.32,3.32,0,0,1,3.53,0v6.48a6.22,6.22,0,0,1-3.53,0Z" transform="translate(0 -7.73)" style="fill:#414550" />
                <rect x="236.66" y="79.17" width="28.26" height="4.71" style="fill:#565a63" />
                <polygon points="266.58 80.78 268.44 80.83 268.44 83.73 266.19 83.73 266.19 80.83 266.58 80.78" style="fill:#353a51" />
                <polygon points="239.03 80.04 258.46 80.04 258.46 82.98 239.03 82.98 239.03 82.39 257.87 82.39 257.87 80.63 239.62 80.63 239.62 82.39 239.03 82.39 239.03 80.04" style="fill:#e2e2e2" />
                <rect x="239.62" y="80.63" width="18.25" height="1.77" style="fill:#4582ef" />
                <path d="M264.86,86.51h1.32s1.08,4,0,5.69l-2,.15.1-5.89Z" transform="translate(0 -7.73)" style="fill:#5e626b" />
                <polygon points="271.58 78.09 271.58 73.03 275.02 73.03 275.02 77.99 271.58 78.09" style="fill:#86878b" />
                <circle cx="273.19" cy="64.67" r="8.61" style="fill:#40444d" />
                <circle cx="273.19" cy="64.76" r="7.8" style="fill:#e5e5e5" />
                <path d="M271.43,74.83l-.59-.64,1.18-1s-.64-1.52,1.37-1.32l4.17-4.07-4.07,4.71a.89.89,0,0,1-1,1.08Z" transform="translate(0 -7.73)" style="fill:#292526" />
                <polygon points="268.3 79.9 268.3 84.32 271.29 84.32 271.29 87.11 275.56 87.11 275.56 78.09 270.94 78.09 270.94 79.95 268.3 79.9" style="fill:#40474f;opacity:0.8999999761581421;isolation:isolate" />
            </g>
            <g class="move_up" id="DIGESTER">
                <path d="M497.07,106.18s3,15.13,66.66,15.36S632,107.48,632,107.48L618,236.29s-3.08,23.59-59.82,23c0,0-34.81.44-47.31-20.2Z" transform="translate(0 -7.73)" style="fill:#2d2d2d" />
                <path d="M632,105.52c.18-10.39-29.82-19.1-67-19.46s-67.47,7.77-67.64,18.16,29.82,19.1,67,19.46S631.82,115.91,632,105.52Z" transform="translate(0 -7.73)" style="fill:#383838" />
                <path d="M549,102.44s19.37,6.35,37.93.37l.14-8.48S575.73,98.07,566,97.59A52.13,52.13,0,0,1,549.14,94Z" transform="translate(0 -7.73)" style="fill:#5b5b5b" />
                <path d="M587.09,93.36c0-2.45-8.42-4.51-18.89-4.62s-19,1.8-19,4.25,8.42,4.51,18.89,4.62S587,95.81,587.09,93.36Z" transform="translate(0 -7.73)" style="fill:#818181;opacity:0.699999988079071;isolation:isolate" />
                <path d="M503.84,161s5.57,16,60.34,17.32,61.94-15.54,61.94-15.54" transform="translate(0 -7.73)" style="fill:none;stroke:#b1b1b2;stroke-miterlimit:10;stroke-width:2px;opacity:0.8500000238418579;isolation:isolate" />
                <path d="M507.42,199.74s13.48,16.53,52.28,17.68,53.3-9.89,53.3-9.89,7-4.6,8.65-6.68" transform="translate(0 -7.73)" style="fill:none;stroke:#b1b1b2;stroke-miterlimit:10;stroke-width:2px;opacity:0.8500000238418579;isolation:isolate" />
                <path d="M602.44,119.67l-17.11,138c30-5.74,32-20.89,32-20.89l14-128.81S628.85,115.66,602.44,119.67Z" transform="translate(0 -7.73)" style="fill:#686868;opacity:0.30000001192092896;isolation:isolate" />
            </g>
            <circle id="Bubble4" cx="347.75" cy="98.75" r="3.75" style="fill:#353535" />
            <circle id="Bubble3" cx="150" cy="98.75" r="3.75" style="fill:#353535" />
            <circle id="Bubble2" cx="431" cy="98.5" r="3.75" style="fill:#353535" />
            <circle id="Bubble1" cx="486" cy="128.5" r="3.75" style="fill:#353535" />
        </g>
      </svg>
    </section>
  </main>

  <%- include ../partials/foot.ejs %>

</body>
