form {
  max-width: 20em;
  margin: 0 auto;
  background-color: $lighter-grey;
  padding: 1.5em;
}

input, textarea {
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 20em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

form footer {
  display: flex;
  align-items: center;

  button {
    margin-left: auto;
  }
}

#loginForm {
  border: 0.1em solid rgba(44, 62, 80,1.0);
}

.register {
  margin-bottom: 1em;
}
