.range-selector {
  background-color: #fff;
  border: 0.1em solid #e9e9e9;
}

.range-selector form {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: none;

  h2 {
    flex: 0 0 100%;
    font-size: 1.2em;
  }

  label {
    width: 50%;

    span {
      width: 100%;
      font-size: 1em;
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0;
  }
}
