table {
    border-collapse: collapse;
}

table, th {
  text-align: left;
}

table, th, td {
    border: 1px solid black;
    padding: 0.5em;
}

button, [role=button] {
  & + table {
    margin-top: 1em;
  }
}

table {
  & + button, [role=button] {
    margin-top: 1em;
  }
}
