<%- include ../partials/head.ejs %>

<main>
  <section id="currentData">
    <button id="phCurrent" class="goodValue" data-type="ph">
      <div class="inner">
        <h3>PH waarde</h3>
        <span class="value">DB</span>
      </div>

      <div class="indicator"></div>
    </button>
    <button id="tempCurrent" class="warningValue" data-type="temp">
      <div class="inner">
        <h3>Temperatuur</h3>
        <span class="value">DB</span> <span class="unit">&#8451;</span>
      </div>

      <div class="indicator"></div>
    </button>
    <button id="bagCurrent" class="errorValue" data-type="hoogte">
      <div class="inner">
        <h3>Gaszak</h3>
        <span class="value">DB</span> <span class="unit">cm</span>
      </div>

      <div class="indicator"></div>
    </button>
    <button id="inputCurrent" class="goodValue" data-type="input">
      <div class="inner">
        <h3>Input</h3>
        <span class="value">DB</span> <span class="unit">kg</span>
      </div>

      <div class="indicator"></div>
    </button>
    <button id="heaterCurrent" class="goodValue" data-type="heater">
      <div class="inner">
        <h3>Heater</h3>
        <span class="value">DB</span>
      </div>

      <div class="indicator"></div>
    </button>
    <section id="graph">
      <svg id="chart"></svg>
    </section>
  </section>
  <!--<section id="filter">-->
    <!--<h3>Filters</h3>-->
      <!--<label>-->
          <!--Filernaam 1 <input type="checkbox" name="filternaam1" value="filternaam1">-->
      <!--</label>-->
      <!--<label>-->
          <!--Filernaam 2 <input type="checkbox" name="filternaam2" value="filternaam2">-->
      <!--</label>-->
  <!--</section>-->
</main>

<%- include ../partials/foot.ejs %>
