<%- include ../partials/head.ejs %>

<main>
  <section id="currentData">
    <button id="bagCurrent" class="errorValue" data-type="hoogte" data-status="0">
      <div class="inner">
        <h3>Gaszak</h3>
        <span class="value">DB</span> <span class="unit">cm</span>
      </div>

      <div class="meter" data-value="30">
        <div class="meter-inner"></div>
      </div>
    </button>
    <button id="phCurrent" class="goodValue" data-type="ph" data-status="0">
      <div class="inner">
        <h3>PH waarde</h3>
        <span class="value">DB</span>
      </div>
    </button>
    <button id="tempCurrent" class="warningValue" data-type="temp" data-status="0">
      <div class="inner">
        <h3>Temperatuur</h3>
        <span class="value">DB</span> <span class="unit">&#8451;</span>
      </div>
    </button>
    <section id="graph">
      <svg id="chart"></svg>
    </section>
  </section>
  <button id="subscriptionButton" disabled>Subscribe</button>
</main>

<%- include ../partials/foot.ejs %>
