<%- include ../partials/head.ejs %>

<main class="history">
  <aside>
    <section class="range-selector">
      <form>
        <h2>Eerste maand</h2>
        <label>
          <div>Maand</div>
          <select name="firstMonth" id="firstMonth">
            <option selected value='1'>Janaury</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
          </select>
        </label>

        <label>
          <div>Jaar</div>
          <select name="firstYear" id="firstYear">
            <option value='2016'>2016</option>
            <option value='2017'>2017</option>
          </select>
        </label>
        
        <h2>Tweede maand</h2>
        <label>
          <div>Maand</div>
          <select name="firstMonth" id="firstMonth">
            <option selected value='1'>Janaury</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
          </select>
        </label>

        <label>
          <div>Jaar</div>
          <select name="secondYear" id="secondYear">
            <option value='2016'>2016</option>
            <option value='2017'>2017</option>
          </select>
        </label>
      </form>
    </section>
    <section class="compare">

    </section>
  </aside>
  <section id="graph">
    <svg id="history-graph"></svg>
  </section>
</main>

<%- include ../partials/foot.ejs %>
