<%- include ../partials/head.ejs %>

<main class="history">
  <aside>
    <section class="range-selector">
      <form>
        <fieldset>
          <h2>Eerste maand</h2>

          <label>
            <div>Jaar</div>
            <select name="firstYear" id="firstYear">
              <option value='2017'>2017</option>
              <option value='2018'>2018</option>
            </select>
          </label>

          <label>
            <div>Maand</div>
            <select name="firstMonth" id="firstMonth">
              <option value='1'>Janaury</option>
              <option value='2'>February</option>
              <option value='3'>March</option>
              <option value='4'>April</option>
              <option value='5'>May</option>
              <option selected value='6'>June</option>
              <option value='7'>July</option>
              <option value='8'>August</option>
              <option value='9'>September</option>
              <option value='10'>October</option>
              <option value='11'>November</option>
              <option value='12'>December</option>
            </select>
          </label>
        </fieldset>

        <label class="compare" for="compare-checkbox">Vergelijken</label>
        <input type="checkbox" id="compare-checkbox">

        <fieldset>
          <h2>Tweede maand</h2>
          <label>
            <div>Jaar</div>
            <select name="secondYear" id="secondYear">
              <option selected value='2017'>2017</option>
              <option value='2018'>2018</option>
            </select>
          </label>

          <label>
            <div>Maand</div>

            <select name="secondMonth" id="secondMonth">
              <option selected value='0'>Selecteer maand</option>
              <option value='1'>Janaury</option>
              <option value='2'>February</option>
              <option value='3'>March</option>
              <option value='4'>April</option>
              <option value='5'>May</option>
              <option value='6'>June</option>
              <option value='7'>July</option>
              <option value='8'>August</option>
              <option value='9'>September</option>
              <option value='10'>October</option>
              <option value='11'>November</option>
              <option value='12'>December</option>
            </select>
          </label>
        </fieldset>
      </form>
    </section>
    <section class="compare">

    </section>
  </aside>

  <div class="graph-group">
    <section class="filters"></section>

    <section id="graph">
      <svg id="history-graph"></svg>
    </section>
  </div>
</main>

<%- include ../partials/foot.ejs %>
