.background {
  box-sizing: border-box;
  background: url(/images/background.jpg) no-repeat center center fixed;
  background: url(/images/background.webp) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
