* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #434343;
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100vh;
  background-color: #f2f2f3;
  overflow-x: hidden;
}

main {
  padding-top: 3.3em;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100vh;
}

main .inner {
  padding: 1em;
}
