$text-color: #333;

$primary-theme-color: #3498db;
$secondary-theme-color: #2980b9;
$success-theme-color: #2ecc71;
$warning-theme-color: #f39c12;
$error-theme-color: #e74c3c;

$lighter-grey: #ecf0f1;
