@font-face {
  font-family:'Nexa';
  src: url('../fonts/nexa/Nexa-Rust-Sans-Black.woff2') format('woff2'),
  url('../fonts/nexa/Nexa-Rust-Sans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Raleway';
  src: url('../fonts/raleway/Raleway.woff2') format('woff2'),
  url('../fonts/raleway/Raleway.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Raleway';
  src: url('../fonts/raleway/Raleway-Bold.woff2') format('woff2'),
  url('../fonts/raleway/Raleway-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}


body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Nexa', sans-serif;
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: 0.2em;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-bottom: 0.2em;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  margin-bottom: 0.2em;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-bottom: 0.2em;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

p {
  margin-bottom: 1em;
}
