<%- include partials/head.ejs %>

<button>Button</button>
<a href="#" role="button">Link button</a>

<a href="#" role="button" class="success">Success</a>

<a href="#" role="button" class="warning">Warning</a>

<h1>H1 heading</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sint praesentium ad possimus corrupti consequatur minus molestias dignissimos deleniti explicabo labore nesciunt, debitis, laudantium id saepe maiores iure ex officiis!</p>
<h2>H2 heading</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sint praesentium ad possimus corrupti consequatur minus molestias dignissimos deleniti explicabo labore nesciunt, debitis, laudantium id saepe maiores iure ex officiis!</p>
<h3>H3 heading</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia sint praesentium ad possimus corrupti consequatur minus molestias dignissimos deleniti explicabo labore nesciunt, debitis, laudantium id saepe maiores iure ex officiis!</p>

<svg id="chart"></svg>

<%- include partials/foot.ejs %>
