.customer-dashboard {
  header {
    padding-top: 1em;
    h1 {
      text-align: center;
    }
  }
  padding: 1em;
  background-color: #CFDED1;
  main {
    padding-top: 1.5em;
    .overview {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      section {
        min-width: 45%;
        height: 37.5vh;
        padding: 1em;
        margin-bottom: 2.5em;
        background-color: #EEEEEE;
        text-align: center;
      }
    }
    .boat-view, .announcements {
      display: none;
    }
  }
}
