.customer-dashboard {
  font-family: 'Nexa', sans-serif;
  background-color: #CFDED1;
  main {
    padding-top: 0;
    .start {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
      }
    }
    .overview {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      section {
        width: 50%;
        height: 100vh;
        text-align: center;
        .logo {
          padding-top: 2em;
          max-width: 10em;
        }
        h2 {
          max-width: 70%;
          padding: .5em 1em;
          margin: 2em auto;
          font-size: 3.5em;
          background-color: rgba(255, 255, 255, 0.9);
          text-transform: uppercase;
        }
      }
      section:nth-child(odd) {
        background: url('/images/dashboard/bio-bg.jpg');
        background-size: cover;
      }
      section:nth-child(even) {
        background-color: #eeeeee;
        span {
          font-size: 3.5em;
          display: block;
          margin-top: 25vh;
          padding: 1em;
        }
      }
    }
   .announcements, .overview,
   .stats {
      display: none;
    }
  }
}
