* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  padding: 1em; }

body {
  font-family: sans-serif; }

h1 {
  font-size: 2em;
  line-height: 1.25;
  margin-bottom: 0.2em; }

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125; } }

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05; } }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-bottom: 0.2em; }

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    line-height: 1.25; } }

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    line-height: 1.25; } }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  margin-bottom: 0.2em; }

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    line-height: 1.25; } }

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    line-height: 1.25; } }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-bottom: 0.2em; }

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222; } }

p {
  margin-bottom: 1em; }

ul {
  padding-left: 1em;
  margin-bottom: 1em;
  display: block; }

button, [role='button'] {
  display: inline-block;
  font-size: 1em;
  background-color: #fff;
  border: 1px solid #3498db;
  padding: 1em;
  text-decoration: none;
  color: #3498db; }
  button.success, [role='button'].success {
    border: 1px solid #27ae60;
    color: #27ae60; }
  button.warning, [role='button'].warning {
    border: 1px solid #e74c3c;
    color: #e74c3c; }

form {
  max-width: 20em;
  margin: 0 auto;
  background-color: #ecf0f1;
  padding: 1.5em; }

input, textarea {
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  width: 100%;
  max-width: 20em; }

label {
  display: block;
  margin-bottom: 0.5em; }

form footer {
  display: flex;
  align-items: center; }
  form footer button {
    margin-left: auto; }

.error {
  background-color: #e74c3c;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em; }

nav {
  background-color: #ecf0f1; }

nav ul {
  display: flex;
  padding: 0; }

nav ul li {
  list-style: none; }
  nav ul li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #333; }
    nav ul li a:hover {
      background-color: rgba(0, 0, 0, 0.1); }

nav .user {
  margin-left: auto; }
