nav {
  background-color: #ffffff;
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  border-bottom: 0.1em solid #e9e9e9;
}

nav ul {
  display: flex;
  padding: 0;
  margin-bottom: 0;
}

nav ul li {
  list-style: none;

  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #434343;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

nav .user {
  margin-left: auto;
}
