aside {
  flex: 0 0 25em;
}

#compare {
  background-color: #fff;
  border: 0.1em solid #e9e9e9;
  padding: 1em;
  &.loading {
    position: relative;
    &::before {
      content: "";
      background-color: rgba(255,255,255,0.7);
      display: block;
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &::after {
      content: "";
      background-color: #2ecc71;
      display: block;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      border-radius: 100%;
      width: 5em;
      height: 5em;
      animation: spinner-in-out 1.2s infinite linear;
      z-index: 2;
    }
  }
  > table {
    display: block;
    width: 100%;
    overflow-x: auto;
    font-size: 1em;
    tbody {
      width: 100%;
      * {
        width: 100%;
      }
      .kWh {
        display: none;
      }
    }
  }
}

#indicatorsTable {
  font-weight: bold;
}

.history {
  padding-left: 1em;
  padding-right: 1em;
  aside {
    flex-basis: calc(35% - 0.5em);;
    max-width: calc(35% - 0.5em);;
    margin-right: 0.5em;
    .range-selector {
      margin-bottom: 1em;
      position: relative;
      input[type="checkbox"] {
        position: absolute;
        clip: rect(0,0,0,0);
        &:checked + .compare {
          display: inline-block;
          font-size: 1em;
          background-color: #3498db;
          border: 1px solid #3498db;
          padding: 1em;
          text-decoration: none;
          color: #FFFFFF;
        }
      }
      .compare {
        display: inline-block;
        font-size: 1em;
        background-color: #fff;
        border: 1px solid #3498db;
        padding: 1em;
        margin: 0.5em 0;
        text-decoration: none;
        color: #3498db;
        float: none;
        position: relative;
        cursor: pointer;
        + fieldset {
          display: none;
        }
      }
    }
  }
  .graph-group {
    flex-basis: calc(65% - 0.5em);;
    max-width: calc(65% - 0.5em);;
    margin-left: 0.5em;
    .filters {
      margin-bottom: 1em;
      button {
        margin-right: 1em;
      }
    }
  }
}

@keyframes spinner-in-out {
  0% {
    opacity:1;
    transform: scale(1, 1);
  }
  50% {
    opacity:.2;
    transform: scale(.5, .5);
  }
  100% {
    opacity:1;
    transform: scale(1, 1);
  }
}