#customer-dashboard {
  .card {
background: rgba(236, 233, 230, .7);  /* fallback for old browsers */
    border: 1px solid white;
    display: flex;
    flex: 0 0 calc(50% - 2em);
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    padding: 1em;
    margin: 1em;
    max-width: 40vw;
    text-align: center;
    justify-content: space-between;
    &:last-child {
      margin-top: auto;
    }
    img {
      height: 10em;
      display: block;
    }
  }
}
