.axis.y .tick line {
  stroke: $lighter-grey;
}

.line {
  fill: none;
  stroke-width: 3px;
  stroke: inherit;
  display: none;
}

.show .line {
  display: block;
}

.axis {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.domain {
  display: none;
}

.tick line {
  stroke: $lighter-grey;
}

.axis.y .tick text {
  fill: inherit;
}
