.graph-group {
  flex: 1;
  display: none;
  float: left;
  width: 100%;
}

.axis.y .tick line {
  stroke: $lighter-grey;
}

.line {
  stroke-width: 3px;
  stroke: #000;
  fill: none;
}

.axis {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 100;
}

.domain {
  display: none;
}

.warning-line {
  stroke: #e74c3c;
  stroke-width: 2;
}

.tick line {
  stroke: $lighter-grey;
}

@media (min-width: 50em) {
  .graph-group {
    display: block;
  }
}
