nav {
  background-color: #ffffff;
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  border-bottom: 0.1em solid #e9e9e9;

}

#showMenu {
  display: none;
}

nav > label {
  padding: 1em;
  display: block;
  margin-bottom: 0;
  cursor: pointer;
}

nav ul {
  display: none;
  padding: 0;
  margin-bottom: 0;
  border-top: 0.1em solid #e9e9e9;
}

nav > input[type="checkbox"]:checked + ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  display: block;
  flex-basis: 100%;
  max-width: 100%;

  a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: #434343;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

nav .user {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  nav > label {
    display: none;
  }

  nav ul {
    display: block;
    border-top:none;
  }

  nav ul li {
    display: inline-block;
  }
}
