<%- include('../partials/head.ejs') %>

<section class="logreg_header">
  <div>
    <h1>TweetDash</h1>
    <span>Your personalized Twitter Dashboard</span>
  </div>
</section>

<section class="logreg_form">
  <p>Om deze applicatie te kunnen gebruiken moet je inloggen met je Twitter account</p>
  <a class="twitterLogin" href="/twitter">Inloggen met Twitter</a>
</section>

  <%- include('../partials/head.ejs') %>
